<!DOCTYPE html>
<html>
<head>
	<title>
		High Scores
	</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../../resources/css/homeandviews.css">
<style >
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}
/* The media screen is the responsive layout part of the bar and the columns stacking*/
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
</style>
</head>
<body>
	<div class="header">
		<h1>
			High Scores!
		</h1>
	</div>

	<div class="bar">
		<a href="https://github.com/kaeleng/3308-project/issues"  class="active"> Link To Our Github </a>
		<a href="/selection"> Home Page</a>
		<a href="/login"  class="right"> SIGN OUT </a>
	</div>
	<div class="highscore">
		<h5>
			<ol>
				<li>
					Timmy Score!
				</li>
				<li>
					John Score!
				</li>
				<li>
					This is a problem for another day!
				</li>
			</ol>
		</h5>
		
	</div>
	<div class="bar">
		<br>
		<br>
	</div>
	<div class="foot">
		<h6>Group Project by: <b>Nate Wilson, Alex Haynie, Nate Howard, Kaelen Guthrie, Austin Bailly, Sheldon Ray</b></h6>
	</div>
</body>
</html>