<!DOCTYPE html>
<html>
<head>
	<title>
		Bop That Selection Page
	</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../../resources/css/homeandviews.css">
<style >
	/* Responsive layout */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
</style>
</head>
<body>
	<div class="header">
		<h1>
			Bop That!
		</h1>
	</div>

	<div class="bar">
		<a href="https://github.com/kaeleng/3308-project/issues"  class="active"> Link To Our Github </a>
		<a href="/scores"> View the TOP Bop That Scores</a>
		<a href="/login"  class="right"> SIGN OUT </a>
	</div>

	<div class="row">
		<div class="leftSide">
			<br>
			<div class= "h2">
				Play The Game
			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<div class="h2">
				<a href="/game" class="button button1 " role="button" aria-pressed="true">BOP THAT!</a>
			</div>
			
			<br>
			<!-- <br>
			<div class="h3">
				This is where i will put a detailed description of the game after seeing it and then playing the game and talking to the group
			</div>
			<br>
			<br>
			<div class="h3">
				Maybe put some pictures here or something but just to make it so that the entire page is filled and is adjusting to the size
			</div>
			<br>
			<br>
			<div class="h3">
				And do it in this chunk sytle i think i will look better than if it was just all one 
			</div> -->
		</div>
		<div class="rightSide">
			<div class="h2">
				How To Play
			</div>
			<br>
			<br>
			<br>
			<div class="h4">
				<b>Basics:</b>
			</div>
			<div class="h3">
				A new take on the classic game Bop It. Here you will be faced with a sequence of characters in rapid succsession. And it is your job to press the corresponding key as it appears. The longer you play the faster it gets!
			</div>
			<br>
			<br>
			<div class="h4">
				<b></b>
			</div>
			
			<br>
			<br>
			<div class="h4">
				<b>Think you have the top score?</b>
			</div>
			<div class="h3">
				See how you fare to the rest of the world by viewing the high scores!
			</div>

			
			<!-- <br>
			<a href="https://github.com/kaeleng/3308-project/issues" class="btn btn-primary btn-lg " role="button" aria-pressed="true">View High Scores</a> -->
		</div>
	</div>
	<div class="bar">
		<br>
		<br>
	</div>
	<div class="foot">
		<h6>Group Project by: <b>Nate Wilson, Alex Haynie, Nate Howard, Kaelen Guthrie, Austin Bailly, Sheldon Ray</b></h6>
	</div>
</body>
</html>
